<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<span th:fragment="basic-scripts">
		<script src="/webjars/adminlte/2.3.2/plugins/jQuery/jQuery-2.1.4.min.js"></script>
		<script src="/webjars/adminlte/2.3.2/plugins/slimScroll/jquery.slimscroll.min.js"></script>
		<script src="/webjars/adminlte/2.3.2/plugins/fastclick/fastclick.min.js"></script>
		<script src="/webjars/adminlte/2.3.2/bootstrap/js/bootstrap.min.js"></script>
		<script src="/webjars/adminlte/2.3.2/dist/js/app.min.js"></script>
		<script src="/webjars/angular/1.5.2/angular.js"></script>
		<script src="/webjars/angular-ui-router/0.2.18/release/angular-ui-router.js"></script>
		<script src="/js/ajax-config.js"></script>
	</span>
</body>
</html>