<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="basic/layout">
<head>
<title th:text="#{view.dashboard.title}">Index</title>
<link rel="stylesheet" href="/css/dashboard/dashboard.css" />
</head>
<body>
	<section class="content" layout:fragment="content">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<div id="formContainer" class="box">
					<th:bock th:replace="user/profile-update-form :: profile-update-form"></th:bock>
				</div>
			</div>
		</div>
	</section>
	<div layout:fragment="custom-scripts">
		<script type="text/javascript" src="/js/user/profile-update.js"></script>
	</div>
</body>
</html>
