<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="basic/layout">
<head>
<title th:text="#{view.dashboard.title}">Index</title>
<!-- Select2 -->
<link rel="stylesheet"
	href="/webjars/adminlte/2.3.2/plugins/select2/select2.min.css" />
<link rel="stylesheet"
	href="/webjars/adminlte/2.3.2/dist/css/AdminLTE.min.css" />
<link rel="stylesheet"
	href="/css/dashboard/dashboard.css" />
</head>
<body>
	<section class="content" layout:fragment="content">
		<!--  div id="detailTable" class="box-body">
				<div class="overlay">
              		<i class="fa fa-refresh fa-spin"></i>
            	</div>
			</div -->
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header with-border">
						<h5 class="box-title">
							Ventas Ene-Oct/15 vs Ene-Oct/16 <i class="fa fa-angle-right"></i>
							Región: Valle <i class="fa fa-angle-right"></i> Pdtos :Todos <i
								class="fa fa-angle-right"></i> Clientes: Todos <i
								class="fa fa-angle-right"></i> Reps:Todos
						</h5>

						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<div id="chart"
							style="min-width: 310px; height: 250px; margin: 0 auto"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="box">
					<!-- /.box-header -->
					<div class="box-header with-border">
						<h5 class="box-title">Data</h5>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover" style="text-align: center;">
							<tbody>
								<tr>
									<th style="width: 6%; text-align: center;">Year</th>
									<th style="width: 6%;">Total COP</th>
									<th style="width: 6%;">Jan</th>
									<th style="width: 6%;">Feb</th>
									<th style="width: 6%;">Mar</th>
									<th style="width: 6%;">Apr</th>
									<th style="width: 6%;">May</th>
									<th style="width: 6%;">Jun</th>
									<th style="width: 6%;">Jul</th>
									<th style="width: 6%;">Aug</th>
									<th style="width: 6%;">Sep</th>
									<th style="width: 6%;">Oct</th>
									<th style="width: 6%;">Nov</th>
									<th style="width: 6%;">Dec</th>
								</tr>
								<tr>
									<td style="width: 6%;">(+/-)</td>
									<td><span class="badge bg-red">-16%</span></td>
									<td><span class="badge bg-red">-14%</span></td>
									<td><span class="badge bg-red">-10%</span></td>
									<td><span class="badge bg-green">11%</span></td>
									<td><span class="badge bg-red">-36%</span></td>
									<td><span class="badge bg-red">2%</span></td>
									<td><span class="badge">N/A</span></td>
									<td><span class="badge">-N/A</span></td>
									<td><span class="badge">N/A</span></td>
									<td><span class="badge">N/A</span></td>
									<td><span class="badge">N/A</span></td>
									<td><span class="badge">N/A</span></td>
									<td><span class="badge">N/A</span></td>
								</tr>
								<tr>
									<td>2016</td>
									<td style="font-weight: bolder">22,974</td>
									<td>4,723</td>
									<td>2,934</td>
									<td>9,182</td>
									<td>3,223</td>
									<td>2,912</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
								</tr>
								<tr>
									<td>2015</td>
									<td style="font-weight: bolder">24,887</td>
									<td>5,480</td>
									<td>3,246</td>
									<td>8,290</td>
									<td>5,006</td>
									<td>2,865</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
		</div>
		<div class="box box-default">
			<div class="box-header with-border">
				<h3 class="box-title">Filters</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool"
						data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="row">
					<div class="col-md-2">
						<div class="form-group">
							<label>Sales Rep</label> <select id="optSalesRep"
								class="form-control select2" style="width: 100%;">
								<option value="0">Todos</option>
								<option value="#REPRESENTANTE_1#">Jorge Borda</option>
								<option value="#REPRESENTANTE_2#">Juan Perez</option>
								<option value="#REPRESENTANTE_3#">Cristina Castro</option>
							</select>
						</div>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
		</div>
	</section>
	<div layout:fragment="custom-scripts">
		<script type="text/javascript"
			src="/webjars/highcharts/4.2.3/highcharts.js"></script>
		<script type="text/javascript"
			src="/webjars/highcharts/4.2.3/modules/exporting.js"></script>
		<script type="text/javascript"
			src="/js/plugin/highcharts/theme/dark-unica.js"></script>
		<!-- Select2 -->
		<script
			src="/webjars/adminlte/2.3.2/plugins/select2/select2.full.min.js"></script>
		<script type="text/javascript" src="/js/dashboard/dashboard.js"></script>

	</div>
</body>
</html>
