<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="basic/layout-external">
<head>
<title th:text="#{view.dashboard.title}">Index</title>
<!-- Select2 -->
<link rel="stylesheet" href="/webjars/adminlte/2.3.2/plugins/select2/select2.min.css" />
<link rel="stylesheet" href="/webjars/adminlte/2.3.2/dist/css/AdminLTE.min.css" />
<link rel="stylesheet" href="/css/dashboard/dashboard.css" />
</head>
<body>
	<section class="content" layout:fragment="content">
		<!--  div id="detailTable" class="box-body">
				<div class="overlay">
              		<i class="fa fa-refresh fa-spin"></i>
            	</div>
			</div -->
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header with-border">
						<h5 class="box-title" th:utext="#{view.dashboard.headerDetail}"></h5>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<div id="chart" style="min-width: 310px; height: 250px; margin: 0 auto"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="box">
					<!-- /.box-header -->
					<div class="box-header with-border">
						<h5 class="box-title" th:text="#{view.dashboard.data}">Data</h5>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover" style="text-align: center;">
							<tbody>
								<tr>
									<th style="width: 6%; text-align: center;" th:text="#{view.dashboard.year}">Year</th>
									<th style="width: 6%;" th:text="#{view.dashboard.TotalCop}">Total COP</th>
									<th style="width: 6%;" th:text="#{view.dashboard.january}">Jan</th>
									<th style="width: 6%;" th:text="#{view.dashboard.february}">Feb</th>
									<th style="width: 6%;" th:text="#{view.dashboard.march}">Mar</th>
									<th style="width: 6%;" th:text="#{view.dashboard.april}">Apr</th>
									<th style="width: 6%;" th:text="#{view.dashboard.may}">May</th>
									<th style="width: 6%;" th:text="#{view.dashboard.june}">Jun</th>
									<th style="width: 6%;" th:text="#{view.dashboard.july}">Jul</th>
									<th style="width: 6%;" th:text="#{view.dashboard.august}">Aug</th>
									<th style="width: 6%;" th:text="#{view.dashboard.september}">Sep</th>
									<th style="width: 6%;" th:text="#{view.dashboard.october}">Oct</th>
									<th style="width: 6%;" th:text="#{view.dashboard.november}">Nov</th>
									<th style="width: 6%;" th:text="#{view.dashboard.december}">Dec</th>
								</tr>
								<tr>
									<td style="width: 6%;">(+/-)</td>
									<td><span class="badge bg-red">-16%</span></td>
									<td><span class="badge bg-red">-14%</span></td>
									<td><span class="badge bg-red">-10%</span></td>
									<td><span class="badge bg-green">11%</span></td>
									<td><span class="badge bg-red">-36%</span></td>
									<td><span class="badge bg-red">2%</span></td>
									<td><span class="badge">N/A</span></td>
									<td><span class="badge">N/A</span></td>
									<td><span class="badge">N/A</span></td>
									<td><span class="badge">N/A</span></td>
									<td><span class="badge">N/A</span></td>
									<td><span class="badge">N/A</span></td>
									<td><span class="badge">N/A</span></td>
								</tr>
								<tr>
									<td>2016</td>
									<td style="font-weight: bolder">22,974</td>
									<td>4,723</td>
									<td>2,934</td>
									<td>9,182</td>
									<td>3,223</td>
									<td>2,912</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
								</tr>
								<tr>
									<td>2015</td>
									<td style="font-weight: bolder">24,887</td>
									<td>5,480</td>
									<td>3,246</td>
									<td>8,290</td>
									<td>5,006</td>
									<td>2,865</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
		</div>
	</section>
	<div layout:fragment="side-bar-content">
		<div th:replace="dashboard/datail-side-bar :: datail-side-bar"></div>
	</div>
	<div layout:fragment="custom-scripts">
		<script type="text/javascript" src="/webjars/highcharts/4.2.3/highcharts.js"></script>
		<script type="text/javascript" src="/webjars/highcharts/4.2.3/modules/exporting.js"></script>
		<script type="text/javascript" src="/js/plugin/highcharts/theme/dark-unica.js"></script>
		<!-- Select2 -->
		<script src="/webjars/adminlte/2.3.2/plugins/select2/select2.full.min.js"></script>
		<script type="text/javascript" src="/js/dashboard/dashboard.js"></script>
	</div>
</body>
</html>
